.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 100px;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #222;

}

h2 {
    color: #111;
}

a{
    color: #222;
    text-decoration: none;
}

.about{
    padding-top: 40vh;
    padding-left: 10vw;
    text-align: center;
}

.about p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.about h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.about a{
    font-size: 1.5rem;
    padding: 10px;
}

.about img{
    width: 160px;
    height:160px;
}

.projects{
    padding-top: 20vh;
    width: 70%;
}

.projects h2{
    font-size: 1.7rem;
    margin: 40px 0 10px;
    
}

.projects a{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
    display:block;
}

.projects span{
    text-align:right;
    display: block;
    font-size:1rem;
    color:orangered;
}

.projects ul{
        list-style: none;
        padding-left: 0;
}

.projects li{
    padding: 5px;
    list-style: none;
    margin-bottom: 25px;
    border-bottom: 1px solid grey;
}

.projects li:last-of-type{
    border-bottom: 0;
}

.projects a:hover{
    color: rebeccapurple;
    cursor: pointer;
    transition: 0.5s;
}

.about a:hover{
    color: orangered;
    cursor: pointer;
    transition: 0.3s;
}

/* small screen */
@media(max-width:780px){
    .container{
        grid-template-columns: 1fr;
    }
    .about{
        padding:0;
        padding-top: 5rem;
    }
    .projects{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}